  body, html {  
      height: 90%;  
      margin:0px;
}  
body {  
      display: flex;  
      align-items: center;  
      justify-content: center;  
      flex-direction: column;  
}  
.pin_box{
      background-color: #0f0f1a;
      width: 75%;
      margin: auto;
      padding: 30px;
      color: white;
      font-size: small;
      overflow: hidden;
}
.digit-group{
      margin: auto;
}
.x{
      display: flex;
      justify-content: center;
      align-items: center;
      align-items: center;

}
.x .box{
      width: 15px;  
      height: 15px;  
}

.digit-group input {  
      width: 30px;  
      height: 50px;  
      background-color: #18182a;  
      line-height: 50px;  
      text-align: center;  
      color: white;  
      margin: 0 5px; 
      border-radius:10%;
      border-color:whitesmoke;
 }  

/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */
